@using FashionStoreSystem.Infrastructure.Extensions;
﻿@using FashionStoreSystem.Services.Data.Interfaces;
@model IEnumerable<IndexViewModel>

@inject ISellerService SellerService
@{
    ViewData["Title"] = "Home Page";

    var products = Model.ToList();
    var isUserSeller = await SellerService.SellerExistsByUserIdAsync(this.User.GetId()!);
}

@if (!products.Any())
{
    <div class="mt-4 p-5">
        <h1 class="display-4">Welcome to the best place for selling fashion products!</h1>
        <p class="lead text-white">
            There are no products in the system currently available so why don't you just add one?
        </p>
        <hr class="my-4">
        <p class="lead">
            @if (User.Identity?.IsAuthenticated ?? false)
            {
                @if (isUserSeller)
                {
                    <a asp-controller="Product" asp-action="Add" class="btn btn-primary btn-lg" role="button">Add Product</a>
                }
            }
        </p>
    </div>
}

<div class="mb-5"></div>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner" style="width:40%; height:40%; margin-left:auto;margin-right:auto;">
        @for (int i = 0; i < products.Count(); i++)
        {
            var product = products[i];
            <div class="carousel-item @(i == 0 ? "active" : string.Empty)">
                <img class="d-block w-100" style="height:600px" src="@product.ImageUrl" alt="@product.Name">
                <div class="carousel-caption d-none d-md-block">
                    <h5>
                        <a class="btn btn-primary" asp-controller="Product" asp-action="Details" asp-route-id="@product.Id"> @product.Name</a>
                    </h5>
                </div>
            </div>
        }
    </div>
    <a class="carousel-control-prev" data-bs-target="#carouselExampleControls" role="button" style="background-color:lightblue" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" data-bs-target="#carouselExampleControls" role="button" style="background-color:lightblue" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </a>
</div>

<div class="mb-5"></div>

<div class="row">
    <div class="col-12 text-center">
        <button class="btn btn-primary" id="statistics_btn">Show Statistics</button>
    </div>
</div>

<div class="mt-4 p-5 bg-light d-none" id="statistics_box">
    <div class="row">
        <h2 class="col-md-6 text-center" id="total_dresses"></h2>
        <h2 class="col-md-6 text-center" id="total_tshirts"></h2>
        <h2 class="col-md-6 text-center" id="total_trousers"></h2>
        <h2 class="col-md-6 text-center" id="total_jackets"></h2>
        <h2 class="col-md-6 text-center" id="total_jeans"></h2>
        <h2 class="col-md-6 text-center" id="total_accessories"></h2>
        <h2 class="col-md-6 text-center" id="total_shoes"></h2>
    </div>
</div>

@section Scripts
{
    <script>statistics();</script>
}