@using FashionStoreSystem.Services.Data.Interfaces;
@using FashionStoreSystem.Infrastructure.Extensions
@model ProductAllViewModel

@inject ISellerService SellerService
@inject IProductService ProductService
@{
    bool isUserSeller = await this.SellerService.SellerExistsByUserIdAsync(this.User.GetId());
    bool isUserSellerOfTheProduct = await this.SellerService.HasProductByIdAsync(this.User.GetId(), Model.Id);
    bool isProductBoughtByUser = await this.ProductService.IsBoughtByUserIdAsync(Model.Id, this.User.GetId());
}

<div class="col-md-4">
    <div class="card mb-3">
        <img class="card-img-top" src="@Model.ImageUrl" alt="Product Image">
        <div class="card-body text-center">
            <h4>@Model.Name</h4>
            <h6>Size: <b>@Model.Size</b></h6>
            <h6>
                Price:
                <b>@($"{Model.Price:f2}") BGN</b>
            </h6>
            <br />
            <a asp-controller="Product" asp-action="Details" asp-route-id="@Model.Id"
               class="btn btn-primary">Details</a>
            @if (this.User.Identity?.IsAuthenticated ?? false)
            {
                @if ((isUserSeller && isUserSellerOfTheProduct) || this.User.isAdmin())
                {
                    <a asp-controller="Product" asp-action="Edit" asp-route-id="@Model.Id"
                       class="btn btn-secondary">Edit</a>
                    <a asp-controller="Product" asp-action="Delete" asp-route-id="@Model.Id"
                       class="btn btn-dark">Delete</a>
                }

                @if ((!isUserSeller || !this.User.isAdmin()) && !isProductBoughtByUser)
                {
                    <form style="margin-top: 10px; margin-bottom: 10px;" asp-controller="Favorite" asp-action="AddToFavorite" asp-route-id="@Model.Id" method="post">
                        <input class="btn btn-secondary" type="submit" value="Add To Favorite" />
                    </form>
                    <form style="margin-top: 10px; margin-bottom: 10px;" asp-controller="Product" asp-action="Buy" asp-route-id="@Model.Id" method="get">
                        <input class="btn btn-dark" type="submit" value="Buy" />
                    </form>
                }
            }

        </div>
    </div>
</div>